*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #edede9;
    color: black;
}

.contenedorTotal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr 2fr 0.5fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "correo correo"
    "footer footer"
}

.logo{
    grid-area: header;
    display: flex;
    align-items: center;

}
.header{
    grid-area: header;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #d6ccc2;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
}
.logoImg{
    height: 50px;
    margin-right: 10px;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 7px;
    margin: 2px;
}

nav a{
    display: flex;
    font-weight: 500;
    padding-right: 10px;
    border-color: #e3d5ca;
    border-style: solid;
    background-color: #f5ebe0;
}


.main{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/encabezado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    align-items: end;
    color: #edede9;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.section{
    grid-area: section;
    display: grid;
    background-image: url(../imagenes/imagen9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 600px;
    align-items: center;
    color: #edede9;
    text-align: center;
    padding: 20px;
    margin: 40px;
}
.correo{
    grid-area: correo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}
.footer{
    grid-area: footer;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    text-align: center;
}

.contenedorTotalC{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr 1.5fr 2fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "article article"
    "footer footer"
}

.imagenMain{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/imagen10.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 200px;
    margin: 10px;
}
.contactoSec{
    grid-area: section;
    margin: 10px;
}
.imagenArticle{
    grid-area: article;
    display: grid;
    background-image: url(../imagenes/imagen12.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 600px;
    margin: 50px;
}
.footer{
    grid-area: footer;
}

.contenedorTotalR{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 2.5fr 3fr 1fr 2.5fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "article article"
    "article2 article2"
    "footer footer"
}

.repartoMain{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/imagen3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    margin: 50px;
}
.repartoSection{
    grid-area: section;
    display: grid;
    margin: 10px;
    padding: 10px;
}
.repartoArticle{
    grid-area: article;
    display: grid;
    margin: 10px;
    padding: 10px;
}
.repartoImgArticle{
    grid-area: article2;
    display: grid;
    background-image: url(../imagenes/imagen5.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    margin: 50px;
}

.contenedorTotalA{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 0.5fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main mainImg"
    "section sectionImg"
    "correo correo"
    "footer footer"
}

.arguImgMain{
    grid-area: mainImg;
    display: grid;
    background-image: url(../imagenes/imagen13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 500px;
    height: 300px;
    margin: 30px 10px;
}
.arguTextMain{
    grid-area: main;
    margin: 10px;
}
.arguImgSection{
    grid-area: sectionImg;
    display: grid;
    background-image: url(../imagenes/imagen11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 500px;
    height: 300px;
    margin: 30px 10px;
}
.arguSection{
    grid-area: section;
    margin: 10px;
}

.contenedorTotalP{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 2fr 1.2fr 1.5fr 1.5fr 0.5fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "article articleImg"
    "article2 articleImg2"
    "correo correo"
    "footer footer"
}

.produccionImgMain{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/imagen6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: 50px;
}
.sectionText{
    grid-area: section;
    margin: 10px;
}
.articleImgBanda{
    grid-area: articleImg;
    display: grid;
    background-image: url(../imagenes/imagen8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 500px;
    height: 300px;
    margin: 30px 10px;
}
.articleTextBanda{
    grid-area: article;
    margin: 10px;
}
.articleImgPremios{
    grid-area: articleImg2;
    display: grid;
    background-image: url(../imagenes/imagen7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 500px;
    height: 300px;
    margin: 30px 10px;
}
.articleTextPremios{
    grid-area: article2;
    margin: 10px;
}

/* Media queries */

@media screen and (max-width: 425px){

    .contenedorTotal{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.7fr 0.4fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "correo"
        "footer"
    }
    
    .logo{
        grid-area: header;
        display: flex;
        align-items: center;
    }
    .tituloPrincipal{
        display: none;
    }
    .header{
        grid-area: header;
        display: flex;
        min-height: 80px;
        width: 100%;
        background-color: #d6ccc2;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        position: fixed;
        top: 0;
        flex-direction: column;
    }
    .logoImg{
        height: 30px;
        margin-right: 5px;
    }
    .menu{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    a{
        text-decoration: none;
        color: black;
        padding: 2px;
        margin: 1px;
    }
    
    nav a{
        display: flex;
        padding-right: 1px;
        border-color: #e3d5ca;
        border-style: solid;
        background-color: #f5ebe0;
    }
    .main{
        grid-area: main;
        display: grid;
        background-image: url(../imagenes/encabezado.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        align-items: end;
        color: #edede9;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
    .section{
        grid-area: section;
        display: grid;
        background-image: url(../imagenes/imagen9.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 600px;
        align-items: center;
        color: #edede9;
        text-align: center;
        padding: 20px;
        margin: 10px 20px;
    }
    .correo{
        grid-area: correo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        text-align: center;
    }
    .footer{
        grid-area: footer;
    }
    
    .social{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;
        text-align: center;
    }
    .contenedorTotalC{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.3fr 1fr 0.8fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "article"
        "footer"
    }
    
    .imagenMain{
        grid-area: main;
        display: grid;
        background-image: url(../imagenes/imagen10.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 80px;
        margin: 10px;
    }
    .contactoSec{
        grid-area: section;
        margin: 10px;
    }
    .imagenArticle{
        grid-area: article;
        display: grid;
        background-image: url(../imagenes/imagen12.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        height: 300px;
        margin: 10px;
    }
    .footer{
        grid-area: footer;
    }
    
    .contenedorTotalR{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.8fr 0.8fr 0.1fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "article"
        "article2"
        "footer"
    }
    
    .repartoMain{
        grid-area: main;
        display: grid;
        background-image: url(../imagenes/imagen3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        height: 300px;
        margin: 10px;
    }
    .repartoSection{
        grid-area: section;
        display: grid;
        margin: 10px;
        padding: 10px;
    }
    .repartoArticle{
        grid-area: article;
        display: grid;
        margin: 10px;
        padding: 10px;
    }
    .repartoImgArticle{
        grid-area: article2;
        display: grid;
        background-image: url(../imagenes/imagen5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        height: 300px;
        margin: 10px;
    }
    
    .contenedorTotalA{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.3fr 0.5fr 0.2fr;
        grid-template-areas: 
        "header "
        "main"
        "mainImg"
        "section"
        "sectionImg"
        "correo"
        "footer"
    }
    
    .arguImgMain{
        grid-area: mainImg;
        display: grid;
        background-image: url(../imagenes/imagen13.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        width: 400px;
        height: 200px;
        margin: 10px;
    }
    .arguTextMain{
        grid-area: main;
        margin: 10px;
    }
    .arguImgSection{
        grid-area: sectionImg;
        display: grid;
        background-image: url(../imagenes/imagen11.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        width: 400px;
        height: 250px;
        margin: 10px;
    }
    .arguSection{
        grid-area: section;
        margin: 10px;
    }
    
    .contenedorTotalP{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.8fr 0.2fr 0.5fr 0.1fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "articleImg"
        "article"
        "articleImg2"
        "article2"
        "correo"
        "footer"
    }
    
    .produccionImgMain{
        grid-area: main;
        display: grid;
        background-image: url(../imagenes/imagen6.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 250px;
        margin: 10px;
    }
    .sectionText{
        grid-area: section;
        margin: 10px;
    }
    .articleImgBanda{
        grid-area: articleImg;
        display: grid;
        background-image: url(../imagenes/imagen8.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        width: 400px;
        height: 250px;
        margin: 10px;
    }
    .articleTextBanda{
        grid-area: article;
        margin: 10px;
    }
    .articleImgPremios{
        grid-area: articleImg2;
        display: grid;
        background-image: url(../imagenes/imagen7.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        width: 400px;
        height: 250px;
        margin: 10px;
    }
    .articleTextPremios{
        grid-area: article2;
        margin: 10px;
    }
}

