/* MIXINS */
/* Mixins sin parametros */
@mixin imgMainMix{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/imagen10.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px;
}
@mixin contactMix{
    grid-area: section;
    text-align: center;
}
@mixin imgArtMix{
    grid-area: article;
    display: grid;
    background-image: url(../imagenes/imagen12.avif);
    background-repeat: no-repeat;
    background-position: center;
}
@mixin formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    width: 400px;
    height: 500px;
}

.contenedorTotalC{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr 2fr 2fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "article article"
    "footer footer"
}
.imagenMain{
    @include imgMainMix;
    height: 200px;
}
.contactoSec{
    @include contactMix;
}
.imagenArticle{
    @include imgArtMix;
    background-size:cover;
    height: 600px;
    margin: 50px;
}
.formulario{
    @include formulario;
}
.footer{
    grid-area: footer;
}

/* Media queries */

@media screen and (max-width: 425px){

    .contenedorTotalC{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.3fr 1fr 0.8fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "article"
        "footer"
    }
    .imagenMain{
        @include imgMainMix;
        height: 80px;
    }
    .contactoSec{
        @include contactMix;
    }
    .imagenArticle{
        @include imgArtMix;
        background-size:contain;
        height: 300px;
        margin: 10px;
    }
    .formulario{
        @include formulario;
    }
    .footer{
        grid-area: footer;
    }
}